In [1]:
import pandas as pd

In [2]:
fruits = pd.Series([10,8,3],['apples','oranges','bananas'])

In [3]:
fruits

apples     10
oranges     8
bananas     3
dtype: int64

In [4]:
fruits +2

apples     12
oranges    10
bananas     5
dtype: int64

In [5]:
fruits /2

apples     5.0
oranges    4.0
bananas    1.5
dtype: float64

In [6]:
import numpy as np

fruits

apples     10
oranges     8
bananas     3
dtype: int64

In [8]:
np.sqrt(fruits)

apples     3.162278
oranges    2.828427
bananas    1.732051
dtype: float64

In [9]:
np.exp(fruits)

apples     22026.465795
oranges     2980.957987
bananas       20.085537
dtype: float64

In [10]:
np.power(fruits,2)

apples     100
oranges     64
bananas      9
dtype: int64

In [11]:
fruits['bananas']+2

5

In [12]:
fruits.iloc[0] -2

8

In [14]:
fruits.loc[['apples','oranges']]/2

apples     5.0
oranges    4.0
dtype: float64